<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="assets/css/custom.css">
    <script src="controllers/insertController.js"></script>
    <script src="controllers/fetchController.js"></script>
    <script src="services/result.js"></script>
    <script src="controllers/deleteController.js"></script>
    </script>
  </head>

  <body ng-app="myApp">
    <font face="Source Sans Pro">

      <div class="left">
        <center>
          <div ng-controller="insertController">
            <h2> What I learned today </h2>
            <form>
              Date <br>
              <input type="text" ng-model="date"><br><br>
              Content <br>
              <textarea rows="10" cols="50" ng-model="content"></textarea><br><br>
              <input type="button" value="Submit" ng-click="insertdata()">
            </form>
          </div>
        </center>
      </div>

      <div class="right">
        <center>
          <div ng-controller="fetchController"><br>
            <span ng-repeat="item in results">
              <div class="card">
                <div class="theText">
                  <span class="bold-underline">{{item.date}}</span><br>
                  {{item.content}}
                </div>
                <div ng-controller="deleteController">
                  <input type="button" class="deleteButton" ng-click="deleteThisItem(item)" value="x">
                </div>
              </div>
              <br><br>
            </span>
          </div>
        </center>
      </div>
    </font>
  </body>
</html>
