.left {
  width: 39%;
  background-color: lightgray;
  height: auto;
  float: left;
  position: fixed;
  opacity: 1!important;
  z-index: 200!important;
}

.right {
  width: 60%;
  background-color: lightgray;
  height: auto;
  float: right;
}

.card {
  width: 60%;
  background-color: white;
  position: relative;
  display: inline-block;
  min-height: 70px;
  text-align: left!important;
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: #DB2929;
  color: white;
  border: none;
  outline: none;
  font-size: 15px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2.5px;
  padding-bottom: 2px;
}

.deleteButton:hover {
  opacity: 0.5;
}

.bold-underline {
  font-weight: bold;
  text-decoration: underline;
}

.theText {
  margin-left: 10px;
  margin-top: 5px;
}

.editButton {
  position: absolute;
  top: 0;
  right: 26;
  cursor: pointer;
  background-color: #1C86EE;
  color: white;
  border: none;
  outline: none;
  padding-bottom: 3px;
}

.editButton:hover {
  opacity: 0.5;
}

.infocus {
  z-index: 200;
  opacity: 1;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  z-index: 100;
  pointer-events: none;
}

.no-overlay {
}

textarea {
  max-width: 95%;
  max-height: 500px;
}
